/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require backbone-forms-bootstrap
 */

@import "bootstrap"
@import "bootstrap-responsive"

body
  background: #333
  color: #fff
  font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif

.dialog
  width: 600px
  position: absolute
  margin-top: -100px
  top: 50%
  margin-left: -300px
  left: 50%

#sidebar
  padding-left: 2%
  margin-top: 30px
  min-width: 200px

.buttons
  padding-bottom: 1em

#content
  padding-right: 2%
  min-width: 720px

.menu-separator
  margin-top: 130px

  .line
    background-color: #fff
    height: 1px
    width: 100%

.rounded
  +border-radius(30px)

#container
  @extend .rounded
  margin-top: -100px
  border: solid 1px white
  overflow: hidden

  svg
    @extend .rounded
    min-width: 800px
    margin-bottom: -1%


