/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require backbone-forms-bootstrap
 */

@import "bootstrap"
@import "bootstrap-responsive"

body
  background: #333
  color: #fff
  font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif

.dialog
  width: 600px
  position: absolute
  margin-top: -100px
  top: 50%
  margin-left: -340px
  left: 50%

#sidebar
  padding-left: 2%
  margin-top: 30px
  min-width: 200px

.buttons
  padding-bottom: 1em

#content
  padding-right: 2%
  padding-top: 30px
  min-width: 720px

.rounded
  +border-radius(30px)

.rounded-top
  +border-radius(0px)
  +border-top-left-radius(30px)
  +border-top-right-radius(30px)

.rounded-top-right
  +border-radius(0px)
  +border-top-right-radius(30px)

.rounded-top-left
  +border-radius(0px)
  +border-top-left-radius(30px)

.rounded-bottom
  +border-radius(0px)
  +border-bottom-left-radius(30px)
  +border-bottom-right-radius(30px)

.border-box
  border: solid 1px white
  overflow: hidden

.border-menu-box
  @extend .border-box
  margin-top: -399px

.menu-separator
  margin-top: 100px

  .line
    background-color: white
    height: 1px
    width: 100%
    min-width: 708px

.ipad-box
  @extend .rounded-bottom
  height: 299px
  width: 708px
  border: 1px dashed #999
  border-top: none

.graffle-box
  @extend .border-menu-box
  @extend .rounded
  min-width: 708px

  svg
    @extend .rounded
    margin-bottom: -1%

.graffle-box.no-editing
  margin-top: -30px

.graffle-label
  text-align: center
  height: 20px
  padding-top: 10px
  color: #999

.rounded-border-box
  @extend .border-box
  @extend .rounded
  min-width: 708px

.top-box
  border-bottom: 1px solid white

.top-left-box

  .graffle-box
    +border-radius(0px)
    border: none
    border-right: 1px solid white
    margin-right: -2.56%
    min-width: 0px

  svg
    @extend .rounded-top-left

.top-right-box

  .graffle-box
    border: none
    margin-left: -2.56%
    min-width: 0px

  svg
    @extend .rounded-top-right

.bottom-box
  .ipad-box
    width: 707px
    height: 298px

  .graffle-box
    border: none
    margin-top: -398px

    svg
      @extend .rounded-bottom

.voting
  .graffle-list
    margin-right: 5.12%

  .graffle-preview
    margin-left: -1.7%

  .preview-box
    @extend .rounded-border-box
    min-width: 0px
    margin-bottom: 20px

  .graffle-box
    border: none
    min-width: 0px

  .graffle-details
    text-align: center

  .average-vote
    color: black
    font-size: 80%
    padding-top: 1em




