/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require backbone-forms-bootstrap
 */

@import "bootstrap"
@import "bootstrap-responsive"

body
  background: #333
  color: #fff
  font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif

.rounded-top
  +border-top-right-radius(50px)
  +border-top-left-radius(50px)

.rounded-bottom
  +border-bottom-right-radius(50px)
  +border-bottom-left-radius(50px)

#content
  position: relative
  text-align: center

#menu
  @extend .rounded-top
  border: solid 1px white
  border-bottom: none
  margin: 5%
  margin-bottom: 0px
  overflow: hidden

  svg
    @extend .rounded-top
    margin: -0.2%

#container
  @extend .rounded-bottom
  border: solid 1px white
  margin: 5%
  margin-top: 0px
  overflow: hidden

  svg
    @extend .rounded-bottom
    margin: -0.2%


