!!!
%html
  %head
    %title HospiGlu
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row-fluid
      #sidebar.span3
        #navigation
        #chat
      #content.span9
    #editor.modal.hide.fade{tabindex: -1, role: 'dialog', :'aria-labelledby' => 'myModalLabel', :'aria-hidden' => true}
      %form{url: '#'}
        %input{type: 'text'}
        %input{type: 'submit'}
          Submit

    = yield
